 * {
     border: 0;
     padding: 0;
     margin: 0;
}

@font-face {
    font-family: "font";
    src: url("../assets/font.ttf");
    }

body {
    height: 100vh;  
    width: 100vw;
    
}
 #board {
    position: absolute;
    width: 425px;
    height: 431px;
    background: url('../assets/tic tac toe board.png') 100%;
    position: absolute;
    margin-top: 225px;
    margin-left: 500px;
 }
 #box00 {
    position:absolute;
    top: 15px;
    left: 15px;
    z-index: 99;
 }
 #box01 {
    position:absolute;
    top: 15px;
    left: 170px;
    z-index: 99;
 }
 #box02 {
    position:absolute;
    top: 15px;
    left: 325px;
    z-index: 99;
 }
 #box10 {
    position:absolute;
    top: 175px;
    left: 15px;
    z-index: 99;
 }
 #box11 {
    position:absolute;
    top: 175px;
    left: 170px;
    z-index: 99;
 }
 #box12 {
    position:absolute;
    top: 175px;
    left: 325px;
    z-index: 99;
 }
 #box20 {
    position:absolute;
    top: 325px;
    left: 15px;
    z-index: 99;
 }
 #box21 {
    position:absolute;
    top: 325px;
    left: 170px;
    z-index: 99;
}
 #box22 {
    position:absolute;
    top: 325px;
    left: 325px;
    z-index: 99;
 }
 #tictac-title{
    font-family: "font";
    font-size: 56pt;
    padding-top: 50px;
    color: #61AB67;
}
 #tic-tac-main {
     height: 100%;
     width: 100%;
     background: url('../assets/tic tac toe bg.png') 100%;
 }
 #tictac-restart {
    position: absolute;
    bottom: 60px;
    right: 60px;
    display: none;
}
#tac-win {
    position: absolute;
    font-family: "font";
    right: 250px;
    bottom: 50px;
    font-size: 42pt;
    color: white;
}
#tictac-board {
    position: absolute;
    margin-top: 65px;
    margin-left: -210px;
}
#turn-indicator {
    font-family: "font";
    font-size: 16pt;
    padding-top: 20px;
    color: #61AB67;
}
 /* hang man styling */
 .letter-box {
     display: inline-block;
     color: white;
     background-color: #9471A9;
     height: 75px;
     width: 60px;
     border-radius: 10px 10px 10px 10px;
     margin-left: 3px;
     margin-right:3px;
     margin-top: 3px;
     margin-bottom: 3px;
     font-family: "font";
     font-size: 42pt;
     padding-top: 10px;
 }
 #letter-board {
     position: absolute;
     top: 300px;
     left:650px;
 }
 #hang-board {
     background: url("../assets/hangman bg.png") 100%;
     width: 100%;
     height: 100%;
 }
 #gallows {
     position: absolute;
     top: 225px;
     left: 275px;
 }
 #man {
    position: absolute;
    top: 315px;
    left:480px;
    display: none;
}
#guess-board {
    position: absolute;
    top: 150px;
    left: 600px;
}
#hangman-restart {
        display: none;
        position: absolute;
        bottom: 60px;
        right: 60px;
}
#hangman-title{
    font-family: "font";
    font-size: 56pt;
    padding-top: 50px;
    color: #9471A9;
}
#win-status {
    position: absolute;
    font-family: "font";
    right: 35px;
    bottom: 200px;
    font-size: 42pt;
    color: white;
}
 .boardTile {
    display: inline-block;
    color: white;
    border-bottom: solid #9471A9 3px; 
    height: 75px;
    width: 60px;
    margin-left: 6px;
    margin-right:6px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "font";
    font-size: 42pt;
    padding-top: 10px;
 }
 #memory-restart {
    position: absolute;
    bottom: 60px;
    right: 60px;
}
 /* matching game */
 .match-card {
    display: inline-block;
    background-color: white;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
 }
 #match-board {
     background: url("../assets/memory game bg.png") 100%;
     height: 100%;
     width: 100%;
 }
 #memory-title{
    font-family: "font";
    font-size: 56pt;
    padding-top: 50px;
    color: #489CCA;
}
#timer {
    font-family: "font";
    font-size: 16pt;
    padding-top: 10px;
    color: #489CCA;
}
#top-row {
    padding-top: 30px;
}
#home {
    position: absolute;
    top: 40px;
    left: 40px;
}
#memory-restart {
    position: absolute;
    bottom: 60px;
    right: 60px;
    display: none;
}
#win-announce {
    position: absolute;
    bottom: 200px;
    right: 70px;
    font-family: "font";
    font-size: 42pt;
    color: white;
}
#turn-container {
    position: absolute;
    bottom: 90px;
    left: 90px;
    display: flex;
    flex-direction: column;
}
#players-text {
font-family: "font";
font-size: 22pt;
color:white;
}
#match-player-one-card {
 flex: 3;
 margin-top: 10px;
 border: solid white 2px;
 color: #489CCA;
 padding-left: 12px;
 font-size: 22pt;
 font-family: "font";
 border-radius: 10px 10px 10px 10px;
 background-color: white;
}
.mid-card {
    flex: 1;
}
#match-player-two-card {
flex: 3;
margin-top: 10px;
border: solid white 2px;
color: white;
padding-left: 12px;
font-size: 22pt;
font-family: "font";
border-radius: 10px 10px 10px 10px;
}
#player-card-container-match {
    display: flex;
    z-index: 99;
}
#score-container {
    position: absolute;
    flex-direction: column;
    bottom: 100px;
    left: 300px;
    display: none;
} 
#player-one-time {
    display: flex;
    
}
#player-one-label {
    flex: 2;
    font-size: 22pt;
    font-family: "font";
    color: #489CCA;
}
#player-one-seconds {
    flex: 1;
    font-size: 22pt;
    font-family: "font";
    color: #489CCA;
}
#player-two-time {
    display: flex;
    font-size: 22pt;
    font-family: "font";
    color: #489CCA;
}
#player-two-label {
    flex: 2;
    font-size: 22pt;
    font-family: "font";
    color: #489CCA;
}
#player-two-seconds {
    flex: 1;
}
/* landing page */

 #landing-main-container {
    background-color: transparent;
    height: 100%;
    width: 100%;
    background: url("../assets/homeScreen.png") 100%;
 }
 
 #title{
        font-family: "font";
        font-size: 56pt;
        padding-top: 80px;
        color: #00538C;
 
 }

 #card-container {
    margin-top: 50px;
}
.cards {
    margin-right:20px;
    margin-left:20px;
}